#create-product-heading {
    color: black;
    text-align: center;
    margin-top: 20px;
}

#create-form {
    text-align: center;
    margin-top: 55px;
    margin-bottom: 40px;
    margin-right: 200px;
    margin-left: 200px;
}