h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color: orange;
}

h3 {
    text-align: center;
}

#guest-view {
    margin: auto;
    display: block;
    width: 955px;
}

div img {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 50px;
    display: block;
    width: 207px;
}

.guest-home {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
  }

#empty-container {
    margin-top: 294px;
    margin-bottom: 294px;
}


