h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color: orange;
}

h3 {
    text-align: center;
}

#guest-view {
    margin: auto;
    display: block;
    width: 64%;
    height: auto;
    
}

div img {
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 30px;
    display: block;
    width: 210px;
    height: 190px;
}

.guest-home {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
  }

#empty-container {
    margin-top: 294px;
    margin-bottom: 318px;
}


