#login-heading {
    color: black;
    text-align: center;
    margin-top: 20px;
}

#login-form {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 276px;
    margin-right: 200px;
    margin-left: 200px;
}