#profile-picture {
    width: auto;
    height: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-right: 650px;
    margin-left: 650px;
}

#profile-info-wrapper {
    text-align: auto;
    margin-bottom: 299px;
    margin-right: 600px;
    margin-left: 600px;
}