#page-not-found-message {
    margin-top: 20px;
    text-align: center;
    color: red;
    text-decoration: underline;
}

#page-not-found {
    margin-left: auto;
    margin-right: auto;
    width: 27%;
    height: auto; 
}
