#page-not-found-message {
    margin-top: 20px;
    text-align: center;
    color: red;
    text-decoration: underline;
}

#page-not-found {
    margin-left: 530px;
    width: 29%;
    height: 427px;    
}
