#company-name {
    text-align: center;
    color: black;
    margin-top: 20px;
}

#site-info {
    text-align: center;
    color: orange;
    margin-top: 30px;
    margin-bottom: 47px;
    margin-left: 30px;
    margin-right: 30px;
}

#additional-info-heading {
    text-align: left;
    color: black;  
    margin-left: 50px;    
}

#additional-info{
    text-align: auto;
    margin-left: 30px;
    margin-bottom: 30px;
    color: black;
}

#bee-pic {
    margin-left: 1150px;
    width: 15%;
    height: auto;
}